<div class="container pt-5 mt-5">
  <div class="row">
    <h2><%= @store.name %>法人顧客一覧</h2>
  </div>
  <div class="row">
    <% @corporation_customers.each do |corporation_customer| %>
      <%= corporation_customer.name %>
    <% end %>
  </div>
</div>