<div class="container pt-5 mt-5">
  <div class="row">
    <h2><%= @store.name %></h2>
  </div>
  <div class="row">
    <%= link_to "法人顧客一覧", store_corporation_customers_path(@store) %>
  </div>
</div>