<div class="container pt-5 mt-5">
  <h1>店舗</h1>
  <% if store_signed_in? %>
    <%= link_to "ログアウト", destroy_store_session_path, method: :delete %>
  <% else %>
    <%= link_to "ログイン", new_store_session_path %>
  <% end %>
  <div class="row">
    <%= link_to "個人顧客", store_individual_customers_path %>
    <%= link_to "法人顧客", store_corporation_customers_path %>
  </div>
</div>
